body {
  background-color: rgb(233, 232, 232);
  font-family: sans-serif;
}

.container {
  background-color: aliceblue;
  max-width: 100vw;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.top-add-counter {
  display: flex;
  justify-content: center;
}

.all-counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
